<div id="portfolio">
    <div class="container">
        <div class="row">
            <h1 class="page-title col-md-3">Portfolio</h1>
            <!-- Search Box -->
            <div class="col-md-9">
                <section>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 sorting-menu">
                        <select class="form-control select select-block mbl" data-pjax="" tabindex="-1" title="">
                            <option id="featured">Featured</option>
                            <option id="high-price">Budget: High to Low</option>
                            <option id="low-price">Budget: Low to High</option>
                            <option id="latest">Latest</option>
                        </select>
                    </div>
                    <div id="search-box" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 input-group pull-right">
                        <input type="text" class="form-control" placeholder="Search" data-pjax="">
                        <span class="input-group-btn">
                            <button class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Sidebar on the right -->
            <div class="col-md-3">
                <!-- Objective control -->
                <section id="objective-control">
                    <label for="objectives"><h3>Filter by Objective</h3></label>
                    <ul id="objectives" class="nav nav-list">
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="20" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons"><span class="icon-unchecked"></span>
                                <span class="icon-checked"></span></span>
                                Marketing <span id="objective_20" class="badge pull-right">20</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                    </ul>
                </section>

                <!-- Category control -->
                <section id="category-control">
                    <label for="categories"><h3>Filter by Category</h3></label>
                    <ul id="categories" class="nav nav-list">
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                    </ul>
                </section>

                <!-- Budget control -->
                <section id="budget-control">
                    <label for="budget"><h3>Filter by Budget</h3></label>
                    <ul id="budget" class="nav nav-list">
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="50" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_50" class="badge pull-right">50</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="10" name="marketing" data-pjax="" class="custom-checkbox">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                Marketing <span id="objective_10" class="badge pull-right">51</span>
                            </label>
                        </li>

                    </ul>
                </section>

                <!-- Tags control -->
                <section id="tags-control">
                    <label for="tags"><h3>Popular tags</h3></label>
                    <div id="tags">

                        <button data-tag="Crowdfunding" data-pjax class="btn btn-xs btn-gray">Crowdfunding</button>

                        <button data-tag="video" data-pjax class="btn btn-xs btn-gray">video</button>

                        <button data-tag="commercial" data-pjax class="btn btn-xs btn-gray">commercial</button>

                        <button data-tag="kickstarter" data-pjax class="btn btn-xs btn-gray">kickstarter</button>

                        <button data-tag="animation" data-pjax class="btn btn-xs btn-gray">animation</button>

                        <button data-tag="crowdfunding" data-pjax class="btn btn-xs btn-gray">crowdfunding</button>

                        <button data-tag="explainer" data-pjax class="btn btn-xs btn-gray">explainer</button>

                        <button data-tag="explainer video" data-pjax class="btn btn-xs btn-gray">explainer video</button>

                        <button data-tag="film" data-pjax class="btn btn-xs btn-gray">film</button>

                        <button data-tag="BMCC" data-pjax class="btn btn-xs btn-gray">BMCC</button>

                        <button data-tag="URSA" data-pjax class="btn btn-xs btn-gray">URSA</button>

                        <button data-tag="girls" data-pjax class="btn btn-xs btn-gray">girls</button>

                    </div>
                </section>
            </div>

            <div class="col-md-9">
                <!-- Main panel -->
                <section id="video-list">
                    <div id="applied-tags">
                        <!-- List of applied tags -->
                    </div>
                    <ul class="row list-unstyled">
                        <div id="spinner" class="spinner"></div>
                        <div id="videos">
                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/apple-corporate-video-12414-2014/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.ytimg.com/vi/ox3hfx2SqAE/maxresdefault.jpg" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Apple corporate video - &quot;1.24.14&quot; (2014)</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/sitka-crowdfunding-campaign/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/516723047_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Sitka Crowdfunding Campaign</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/open-source-beehives-crowdfunding-video/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/467156155_1280x854.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Open Source Beehives Crowdfunding Video</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/axent-wear-cat-ear-headphones-indiegogo/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.ytimg.com/vi/UJugaD6rs2g/maxresdefault.jpg" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Axent Wear - Cat Ear Headphones Indiegogo</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/vainglory/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/488570002_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Vainglory</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Super Evil Mega Corp">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/the-everyday-messenger-official-kickstarter/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.ytimg.com/vi/6CpOEcl1nec/maxresdefault.jpg" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">The Everyday Messenger - Official Kickstarter</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/defiance/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/538947149_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Defiance</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Trion Games">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/exxaro-corporate-video-full/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/432761462_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Exxaro - Corporate video full</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/sfced-sf-business-leaders-lyft/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/523135916_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">SFCED: SF Business Leaders - Lyft</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="SF Center for Economic Development">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/on-location-mazovia-warsaw/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/538932702_1920x1080.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">ON LOCATION MAZOVIA WARSAW</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Mazovia / Warsaw">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/brook-haven-school-k-8/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/525589875_1920x1080.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Brook Haven School K-8</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Brook Haven School Discrict">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/fashion-photo-shoot-video/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/244046682_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Fashion Photo Shoot Video</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Elizabeth Arden Red Door Salon">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/pokerstars-promo/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/538945805_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">PokerStars Promo</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="PokerStars">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/soylent/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/474187385_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Soylent</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Soylent">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/studio-shoot/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/498613063_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Studio Shoot</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Studio Photography">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/stephen-jones-wisteria-hysteria-promo/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/538992884_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Stephen Jones &quot;Wisteria Hysteria&quot; Promo</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Stehen Jones">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/stitcher-overview/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/286441873_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Stitcher Overview</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Stitcher">

                                        <img src="https://d315jti2w77xf4.cloudfront.net/static/img/user_3.abfa8952d85b.png" class="logo img-responsive" />

                                    </div> -->
                                </div>
                            </li>

                            <li class="col-md-4">
                                <div class="video">
                                    <a href="/videos/virect-introduction/">
                                        <div class="video-thumbnail">
                                            <img src="https://i.vimeocdn.com/video/521463193_1280x720.jpg?r=pad" height="360" width="640" alt="Video thumbnail" class="img-responsive" />
                                        </div>
                                        <div class="video-label clearfix">
                                            <div class="title text-truncate">Virect Introduction</div>
                                        </div>
                                    </a>
                                    <!-- <div class="video-badge text-center" data-toggle="tooltip" data-placement="top" title="Virect Inc.">
                                        <img src="https://d315jti2w77xf4.cloudfront.net/media/logos/Virect Inc./virect_logo_400x400.png" class="logo img-responsive" />
                                    </div> -->
                                </div>
                            </li>

                            <div class="col-md-12 mtl mbh text-center">
                                <ul class="pagination-plain">
                                    <li class="previous disabled">
                                        <i class="fui-arrow-left"></i>
                                    </li>

                                    <li class="active">
                                        <a href="?page=1" data-pjax>1</a>
                                    </li>

                                    <li>
                                        <a href="?page=2" data-pjax>2</a>
                                    </li>

                                    <li>
                                        <a href="?page=3" data-pjax>3</a>
                                    </li>

                                    <li>
                                        <a href="?page=4" data-pjax>4</a>
                                    </li>

                                    <li>
                                        <a href="?page=5" data-pjax>5</a>
                                    </li>

                                    <li>
                                        <a href="?page=6" data-pjax>6</a>
                                    </li>

                                    <li>
                                        <a href="?page=7" data-pjax>7</a>
                                    </li>

                                    <li>
                                        <a href="?page=8" data-pjax>8</a>
                                    </li>

                                    <li>
                                        <a href="?page=9" data-pjax>9</a>
                                    </li>

                                    <li>
                                        <a href="?page=10" data-pjax>10</a>
                                    </li>
                                    <li class="next">
                                        <a href="?page=11" class="fui-arrow-right" data-pjax></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Js/Virect/Video/URI.535dd1578c20.js"></script>
<script src="~/Content/Js/Virect/Video/spin.ac2f1a06d654.js"></script>
<script src="~/Content/Js/Virect/Video/jquery.pjax.c0292b0ad792.js"></script>
<script src="~/Content/Js/Virect/Video/portfolio.b479d6b88ff9.js"></script>
<script>
$(document).ready(function() {
    //$(":checkbox").radiocheck();
    $('select').select2();

    var $eventSelect = $("select");
    $eventSelect.on("change", function (e) { log("change",e); });
    function log(name, evt) {
    }
});
</script>


