<div class="content">
    <div id="home">
        <div class="hero-wrapper">
            <div id="hero">
                <video autoplay loop>
                    <source src="~/Content/Videos/Virect Background Video.71d8f4365ab4.webm" type="video/webm">
                    <source src="~/Content/Videos/Virect Background Video.2483bc9dabff.mp4" type="video/mp4">
                </video>
            </div>
            <div class="intro container text-center">
                <h1 id="tagline" class="text-inverse">Find and Hire<br>The Best Video Productions</h1>
                <p class="subtitle h4 text-inverse">The largest marketplace for video production</p>
                <a class="btn btn-lg btn-wide btn-transparent no-transition-effect" href="/get-quote/">Get Started</a>
            </div>
        </div>

        <section id="testimonial" class="container">
            <h2 class="text-center">What clients are saying</h2>
            <div class="row">
                <!-- Starbucks -->
                <div class="col-md-4 client clearfix">
                    <div class="client-box">
                        <div class="showreel desktop">
                            <a href='' class="testimonial-video" role="button" data-toggle="modal" data-target="#video-modal" data-src="//player.vimeo.com/video/132564495?autoplay=1">

                                <img src="~/Content/Images/testimonial_preview_starbucks.ee44a2ba1850.jpg" alt="Starbucks Video Thumbnail" class="img-responsive" width="640" height="360" />

                                <i class="video-overlay-play"></i>
                            </a>
                        </div>
                        <div class="showreel mobile iframe-responsive-container">
                            <iframe src="//player.vimeo.com/video/132564495" frameborder="0" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="text-center client-logo">
                            <img src="~/Content/Images/testimonial_starbucks.106ecae6529f.png" alt="Starbucks Logo" class="img-responsive" width="210" height="70" />
                        </div>
                        <div class="text-center comment">
                            Virect is absolutely amazing! We couldn't have created so many videos without easily finding great video productions through their marketplace.
                        </div>
                        <div class="name text-center">
                            <div>Thurman Yoo</div>
                            <div class="company">Digital Marketer, Starbucks</div>
                        </div>
                    </div>
                </div>
                <!-- Toblerone -->
                <div class="col-md-4 client clearfix">
                    <div class="client-box">
                        <div class="showreel desktop">
                            <a href='' class="testimonial-video" role="button" data-toggle="modal" data-target="#video-modal" data-src="//player.vimeo.com/video/134691749?autoplay=1">
                                <img src="~/Content/Images/testimonial_preview_toblerone.f5147ce6be82.jpg" alt="Toblerone Video Thumbnail" class="img-responsive" width="640" height="360" />
                                <i class="video-overlay-play"></i>
                            </a>
                        </div>
                        <div class="showreel mobile iframe-responsive-container">
                            <iframe src="//player.vimeo.com/video/134691749" frameborder="0" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="text-center client-logo toblerone">
                            <img src="~/Content/Images/testimonial_toblerone.a8df3f175c8d.png" alt="Toblerone Logo" class="img-responsive" width="500" height="83" />
                        </div>
                        <div class="text-center comment">
                            We got a great boost after distributing the video we got through Virect’s service.   Video is now a must, and Virect makes it super easy.
                        </div>
                        <div class="name text-center">
                            <div>Tina Ju</div>
                            <div class="company">Digital Marketer, Toblerone</div>
                        </div>
                    </div>
                </div>
                <!-- Samsung -->
                <div class="col-md-4 client clearfix">
                    <div class="client-box">
                        <div class="showreel desktop">
                            <a href='' class="testimonial-video" role="button" data-toggle="modal" data-target="#video-modal" data-src="//player.vimeo.com/video/78054952?autoplay=1">
                                <img src="~/Content/Images/testimonial_preview_samsung.b1e96fd046ea.jpg" alt="Samsung Video Thumbnail" class="img-responsive" width="640" height="360" />
                                <i class="video-overlay-play"></i>
                            </a>
                        </div>
                        <div class="showreel mobile iframe-responsive-container">
                            <iframe src="//player.vimeo.com/video/78054952" frameborder="0" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="text-center client-logo">
                            <img src="~/Content/Images/testimonial_samsung.b532c1dd4e51.png" alt="Samsung Logo" class="img-responsive" width="210" height="70" />
                        </div>
                        <div class="text-center comment">
                            We completed many successful video campaigns in multiple regions. Using the convenience of Virect, we plan on producing many more.
                        </div>
                        <div class="name text-center">
                            <div>Daniel Kim</div>
                            <div class="company">Marketing Specialist, Samsung</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="benefits">
            <div class="container">
                <h2 class="text-center">Why Virect?</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="benefit">
                            <img src="~/Content/Images/benefit_professional_quality.2b1b7cd7da1b.png" alt="Top quality" class="img-responsive" width="210" height="130" />
                            <h3>Top quality</h3>
                            <p>Our talented video professionals are passionate about their work and produce high quality video content.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="benefit">
                            <img src="~/Content/Images/benefit_seamless_experience.a2387dd5d803.png" alt="Seamless experience" class="img-responsive" width="210" height="130" />
                            <h3>Seamless experience</h3>
                            <p>Our industry experts handle all your video needs from concept and storyboarding to production and delivery.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="benefit">
                            <img src="~/Content/Images/benefit_competitive_price.5397a257453b.png" alt="Competitive price" class="img-responsive" width="210" height="130" />
                            <h3>Competitive price</h3>
                            <p>You set your budget and we pair you with the best creative professional. Rest assured that quality production is guaranteed.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="benefit">
                            <img src="~/Content/Images/benefit_quick_turnaround.522cda133d43.png" alt="Quick turnaround" class="img-responsive" width="210" height="130" />
                            <h3>Quick turnaround</h3>
                            <p>We know your time is valuable. Our producers work on your schedule and will produce your quality video on time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="clients">
            <div class="container">
                <h2 class="text-center">More happy clients</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_google.8d531dc53df1.png" alt="Google Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_brightcove.7aefef6f8bb9.png" alt="Brightcove Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_lg.1e498e1c410c.png" alt="LG Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_unicef.a4daaae211ff.png" alt="Unicef Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_facebook.724519754d4b.png" alt="Facebook Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_3m.2d8f459b79fe.png" alt="3M Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_mckinsey.28e21beebae3.png" alt="McKinsey Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client ko us">
                        <img src="~/Content/Images/clients_nestle.677c61c35840.png" alt="Nestle Logo" class="img-responsive" width="252" height="80" />
                    </div>

                    <div class="col-sm-6 col-md-3 client us">
                        <img src="~/Content/Images/clients_honeywell.5afdf86ee350.png" alt="Honeywell Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client us">
                        <img src="~/Content/Images/clients_criteo.0b263cbf5842.png" alt="Criteo Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client us">
                        <img src="~/Content/Images/clients_surveymonkey.82aa19e1f09c.png" alt="Survey Monkey Logo" class="img-responsive" width="252" height="80" />
                    </div>
                    <div class="col-sm-6 col-md-3 client us">
                        <img src="~/Content/Images/clients_coleman.27af000f7d59.png" alt="Coleman Logo" class="img-responsive" width="252" height="80" />
                    </div>

                </div>
            </div>
        </section>

        <section id="get-started">
            <div class="container">
                <h2 class="text-center">Get started on your video now!</h2>
                <a class="btn btn-lg btn-wide btn-primary" href="/get-quote/">Get Started</a>
            </div>
        </section>
    </div>
    <!-- Video play modal -->
    <div id="video-modal" class="modal video-player">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="showreel iframe-responsive-container">
                        <iframe id="video-modal-player" src="" frameborder="0" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" data-dismiss="modal" class="btn btn-wide">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
