<footer class="bottom-menu bottom-menu-large bottom-menu-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6 logo">
                <img src="~/Content/Images/logo_footer.8c7c6453b814.png" alt="Virect Logo" class="ci" width="100" height="21" />
            </div>
            <div id="menu-list" class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="title">Company</h4>
                        <ul class="bottom-menu-list">
                            <li><a href="/about/">About</a></li>
                            <li><a href="/careers/">Careers</a></li>
                            <li><a href="/press/">Press</a></li>
                            <li><a href="/terms/">Terms</a></li>
                            <li><a href="/privacy/">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="title">Creators</h4>
                        <ul class="bottom-menu-list">
                            <li><a href="/why/">Become a Creator</a></li>
                            <li><a href="/standards/">Standards</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="title">Community</h4>
                        <ul class="bottom-menu-list">
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="creators-by-city" class="col-md-9">

                <small>
                    Cities:

                    <a href="/creators/in/san-francisco/">San Francisco</a>,

                    <a href="/creators/in/chicago/">Chicago</a>,

                    <a href="/creators/in/san-jose/">San Jose</a>,

                    <a href="/creators/in/los-angeles/">Los Angeles</a>,

                    <a href="/creators/in/new-york/">New York</a>

                </small>

            </div>
            <div class="col-md-3">
                <small class="copyright pull-right">© 2016 Virect Inc.</small>
            </div>
        </div>
    </div>
</footer>

